<!DOCTYPE html>
<html>

<head>
    <title>
        {{ title }}
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='http://libs.baidu.com/jquery/1.11.1/jquery.min.js'></script>
</head>

<body>
    <h1>HTML哦{{#title}}</h1>
    <h1>
        {{ title }}
    </h1>
    <h1>param:
        {{ p1 }}
    </h1>
    <h1>params:
        {{ p2 }}
    </h1>
    <h1>body:
        {{ p3 }}
    </h1>
    <h1>query:
        {{ p4 }}
    </h1>
    <p>Welcome to
        {{ title }}
    </p>

</body>

</html>